.cv-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.25em auto;
	background-color: var(--bgc-secondary);
	border-radius: 2em;
}

.main-container {
	display: grid;
	width: 90%;
	grid-template-columns: 1fr 1fr;
	margin-top: 1em;
	column-gap: 2em;
	row-gap: 1em;
}

.column-1 {
	width: 100%;
	color: var(--text-secondary);
}

.column-2 {
	width: 100%;
}
